.grid-container {
    height: 500px;
    width: 500px;
    margin: auto;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
}

.square {
    margin: 0;
    padding: 0;
    width: 18;
    height: 18;
    border: 1px solid gray;
}

.draw {
    background-color: gray;
}